# testing
pytest
pytest-django

# Factory boy (https://factoryboy.readthedocs.io/en/latest/)
factory_boy

# Rest framework (https://www.django-rest-framework.org/)
djangorestframework

# Django money (https://github.com/django-money/django-money)
django-money

# Graphene (https://docs.graphene-python.org/en/latest/quickstart/)
graphene

# Graphene Django (https://docs.graphene-python.org/projects/django/en/latest/)
graphene-django

# Ariadne (https://github.com/mirumee/ariadne)
ariadne

# Django Filter (https://django-filter.readthedocs.io/en/latest/guide/usage.html#the-filter)
django-filter

# Graphql extensions (https://github.com/flavors/django-graphql-extensions)
django-graphql-extensions